*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
exampleJsApp/node_modules
exampleJsApp/packages_imported
exampleJsApp/package-lock.json
kotlin-js-store/yarn.lock
